.footer {
    width: 100%;
    height: 100px; /* Fixed height for footer */
    background: #21325e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Fix the footer at the bottom */
    bottom: 0;
    left: 0;
    
  }
  
  
  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .socialMedia svg:hover {
    transform: translateY(-5px);
  }
  
  .footer p {
    color: white;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .socialMedia svg {
      font-size: 2.5rem;
    }
  }
  